# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
forge-1.21.1-52.1.0-mdk.zip

# Files from Forge MDK
forge*changelog.txt
